<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>P/Layouts</title>
</head>
<body>

    <!-- Borde negro , fondo transparente -->
<header> <span class="texto-borde">L-A-Y-O-U-T</span>

</header>

  

  

    <nav>
        <a href="#">Inicio</a>
        <a href="#">Produtos</a>
        <a href="#">Contacto</a>
        <a href="#">Sobre Nosotros</a>   
    </nav>

    <div class="row">

        <aside>
            <h2>ASIDE</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iure ad accusantium quisquam vel officiis repellat laudantium maiores? Nesciunt voluptatum illo repellendus eveniet! Quasi sed corrupti eum nostrum omnis in.</p>
        </aside>

        <section>
            <h2>SECTION</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa hic reiciendis itaque ad. Rem aperiam asperiores saepe repudiandae exercitationem sint vel dicta ullam sapiente. Cum rerum eveniet recusandae dolore deserunt.</p>
        </section>

    </div>

    

    <footer>
        <h2>FOOTER</h2>
        <p> <img class="wsp" src="./icono wsp.png" alt=""> 1133628179</p>
        <p>Localidad: R.Castillo</p>
        <p>Email: Leandro_pereyra@outlook.com</p>
    </footer>

</body>
</html>